@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Lato:wght@300;400&family=Yeseva+One&display=swap');

/* 
font-family: 'Josefin Sans', sans-serif;

font-family: 'Lato', sans-serif;

font-family: 'Yeseva One', cursive; */

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'Lato';
}
html, body {
 height: 100%
}
h1, h2, h3, h4, h5, h6, p {
 margin-bottom: 16px
}

nav {

    width: 100%;
    height: 6rem;
    padding-right: 3rem;
    padding-left: 3rem;
    padding-top: .75rem;
    display: flex;
    justify-content: space-between;
    /* border-bottom: 2px solid black; */
    color: whitesmoke;
    background-color: #ff5e57;
}

.navTitle {
    font-family: 'Yeseva One', cursive;
    font-size: 48px;
    margin-bottom: 2rem;
}

.links {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    height: fit-content;
    margin-top: auto;
    margin-bottom: .5rem;

}

.links a {
    text-decoration: none;
    color: whitesmoke;
    padding: .3rem;
    padding-left: .7rem;
    padding-right: .7rem;
    border: 2px solid #ff5e57;
    position: relative;
}

.links a:hover {
    border: 2px solid whitesmoke;
    background-color: #ff736b;
}

#loginProfileLinks {
    height: 100%;
    padding: .3rem;
    padding-left: .7rem;
    padding-right: .7rem;
}

#loginProfileLinks a svg {
    margin-bottom: 3px;
}

#cartNumber {
position: absolute;
font-size: 18px;
top: -2px;
right: 2px;
min-width: 20px;
min-height: 20px;
padding-right: 3px;
padding-left: 3px;
border-radius: 2rem;
text-align: center;
background-color: whitesmoke;
color: #ff5e57;
}

.shopWrapper {
margin: 2rem;
display: flex;
}

.shopFilters {
    width: 200px;
    position: fixed;
    top: 25vh;
    border: 2px solid #d2dae2;
    padding: 1rem;
}

.shopFilters form {
    display: flex;
    flex-direction: column;
}

.shopFilters form h5 {
    margin-top: 1rem;
    margin-bottom: 5px;
    font-weight: bold;
}

.inputLabel {
display: flex;

}

.inputLabel input{
    width: fit-content;
}

.inputLabel label{
    width: fit-content;
    margin-bottom: 0px;
    margin-left: 10px;
}

.shopContent {
    margin-top: 1rem;
   margin-left: 220px;
   width: 100%;
    justify-content: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, 270px);

}

.productCard {
    width: 250px;
    border: 2px solid #d2dae2;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.175);
}

.productCard a img {
    height: 200px;
    width: 100%;
    margin-bottom: 1rem;
}

.productCard-title {
    font-weight: 600;
}

.productCard p {
    margin-bottom: 4px;
}

.goBack {
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    color: #0fbcf9;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    width: fit-content;
    cursor: pointer;
}

.goBack:hover {
    color: #3c40c6;
}

.detailContent {
    margin-top: 1rem;
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    /* flex-wrap: wrap; */
}

.detailImg {
    margin-right: 2rem;
    border: 2px solid black;
    height: 403px;
}

.detailImg img {
    height: 400px;
    width: 400px;
    max-width: 400px;
    max-height: 400px;
}

.detailContent-text h1 {
 overflow: auto;
}

.detailPrice {
    font-size: 25px;
    font-weight: 700;
}

.addToCart {
    min-height: 40px;
    width: fit-content;
    padding-left: .5rem !important;
    padding-right: .5rem !important;
    padding-top: .5rem !important;
    border: 2px solid black;
    font-family: 'Josefin Sans', sans-serif;
}

.homeContent {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    height: calc(100vh - 10rem);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url('../images/landing.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
}

.homeImg {
    background-image: url('../images/records1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 470px;
    width: 100%;
    max-height: 770px;
    max-width: 770px;
    margin-right: 3rem;
    margin-bottom: 3rem;
}

.homeContent-text {
    margin-bottom: 3rem;
    background-color: #ffffff;
    height: fit-content ;
    width: clamp(500px, 700px, 1050px);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 4px solid #000000;
    /* box-shadow: 0 0 20px 40px rgb(255, 255, 255); */
}

.homeContent-text h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 52px;
    
}
.homeContent-text p {
    max-width: clamp(300px, 600px, 900px);
    font-size: 22px;
    letter-spacing: .5px;
    margin-bottom: 2rem;
}
.goToButton {
    margin-top: 2rem;
    color: black;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    padding: .75rem;
    padding-bottom: .25rem;
    border: 2px solid black;
    background-color: rgb(245, 245, 245);

}

.goToButton:hover {
    background-color: rgb(231, 231, 231) !important;
    text-decoration: none !important;
}

.goToButton:active {
    background-color: #3c40c6 !important;
    border: 2px solid #3c40c6;
    color: #dae0e5;
}

.pageHeader {
    width: 100%;
    font-size: 48px;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 2rem;
    text-align: center;
}

.pageWrapper {
    min-height: calc(100vh - 10rem);
}

.contactContent {
    margin-top: 2rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
}

.contactContent form {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.contactContent form input {
    width: 100%;
    margin: .5rem;
    padding: 4px;
    border: 1px solid black;
}
.contactContent form textarea {
    width: 100%;
    margin: .5rem;
    padding: 4px;
    height: 150px;
    border: 1px solid black;
}
.contactContent form label {
    margin-bottom: 4px;
    margin-top: 1rem;
    font-weight: bold;
}
.contactContent form button {
    width: 200px;
    margin: 0 auto;
    margin-top: 2rem;
}

.divLine {
    height: 400px;
    border-right: 2px solid black;
}

.contactInfo {
    margin-top: 2rem;
    font-size: 18px;
}

.loginContent form input{
    width: clamp(210px, 300px, 360px);
    margin: 0px;
}

.removeCartItem {
    display: block;
    position: absolute;
    left: 90%;
    top: 10px;
    font-size: 20px;
    font-weight: bold;
    padding: .25rem;
    background-color: #fa463d;
    color: whitesmoke;
    width: 20px;
    border-radius: 15px;
}

.removeCartItem:hover {
    background-color: #ff736b;
    cursor: pointer;
}

#resetCart {
    cursor: pointer;
    color: #0fbcf9;
    font-family: 'Josefin Sans', sans-serif;
}

#resetCart:hover {
    color: #3c40c6;
    text-decoration: underline;
}

.cartWrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    padding-top: 1rem;
    justify-content: space-around;
}

.cartItem {
    position: relative;
    width: clamp(280px, 400px, 600px);
    border-bottom: 2px #ccc solid;
    margin-bottom: 2rem;
    display: flex;
}

.cartItem img {
    height: 100px;
    margin-bottom: 1rem;
}

.cartItem-right p {
    font-size: 16px;
    margin-bottom: 3px;
    max-width: 240px;
}

.cartItem-right {
    margin-left: 1rem;
    margin-bottom: .5rem;
}

.itemTitle {
    font-size: 17px !important;
    width: clamp(160px, 220px, 280px);
    margin-bottom: 3px !important;
    font-weight: bold;
}

.itemCondition {
    font-size: 16px !important;
}

#paypal-button-container {
    position: relative;
    width: clamp(260px, 340px, 400px);
    z-index: 90 !important;
}

.totalPriceDiv {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 2rem;
}

.checkoutContent {

}

.profileWrapper {
    margin-left: 2rem;
    margin-right: 2rem;
}

.profileButtons {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.profileButtons a {
    max-width: fit-content;
}

#ordersDetails {
    font-size: 30px;
}

#ordersDetails p {
    font-size: 18px;
}

#cartModal {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.175);
    justify-content: center;
    align-items: center;
   top: 0px;
   left: 0px; 
   z-index: 99 !important;
}

.cartModal-content {
    padding: 1rem;
    background-color: whitesmoke;
    width: clamp(200px, 300px, 400px);
    height: 200px;
    border-radius: 5px;
}

.cartModal-content h2 {
    
}

.cartModal-content a {
    margin-left: 10px;
}

.messages-content {
    margin: 4rem;
}

footer {
    height: 4rem;
    padding-top: 1.25rem;
    text-align: center;
    color: #ffffff;
    background-color: #ff5e57;
}